*, body{
    margin: 0;
    padding: 0;
}

.cover{
    background-color: #5C0000;
    opacity: 0.3;
    width: 100%;
    height: 75px;
}

.navbar{
    background-color: none;
    height: 75px;
}

.landing-page{
    height: 100vh;
}

video{
    z-index: -2;
}

.opacity-background{
    background-image: linear-gradient(to bottom, rgba(92, 0, 0, 0.1), rgb(84, 54, 50));
    height: 290vh;
}

.main-content{
    background-color: #543632;
}

.wrapper{
    padding: 20px 40px 40px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
}

/* .wrapper .section{
    height: 350px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
} */

.kontainer{
    display: flex;
    flex-direction: row;
}

.kard{
    width: 300px;
    height: 350px;
    background-color: #eaeaea;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap{
    position: absolute;
}

.imgbox{
    position: relative;
    top: -60px;
}

.imgbox img{
    width: 250px;
    height: 300px;
    margin-top: 5px;
}

.kard:hover{
    height: 450px;
    transition: 0.2 ease-in-out;
}

.content{
    position: relative;
    margin-top: 140px;
    text-align: center;
    color: #111;
}